@use "global" as *;

.about{
  max-width: rem(600);
  width: 100%;
  margin:0 auto;
  @include mq("md"){
    max-width: rem(1440);
    position: relative;
}
}

.about__contents{
  @include mq("md"){
  position: relative;
  }
}

.about__content{
  max-width: rem(1080);
  width: 100%;
  margin: rem(27) 0 rem(40);
  position: relative;
  display: flex;
  justify-content: center;
  @include mq("md"){
    margin: rem(39) 0 rem(40);
  }
}

.about__img{
  object-fit: cover;
}

.about__img1.about__img--sm{
  width: (128 / 375) * 100vw;
  aspect-ratio: 194 / 128;
  z-index: 100;
  margin: 0;
  @include mq("md"){
  width: (399 / 1440) * 100vw;
  aspect-ratio: 606 / 400;

  }
}

.about__img1.about__img--lg{
  width: (281 / 375) * 100vw;
  aspect-ratio: 281 / 186;
  margin: rem(27) 0 0 rem(-64);
  @include mq("md"){
  width: (880 / 1440) * 100vw;
  aspect-ratio:880 / 581 ;
  margin: rem(80) 0 0 rem(-199);
  }
}

.about__img--sm img,
.about__img--lg img{
  width: 100%;
}

.about__box{
  @include mq("md"){
    display: flex;
    max-width: rem(840);
    width: 100%;
    position: absolute;
    top: (201 / 1440) * 100vw;
    left: (199 / 1440) * 100vw;
    z-index: 110;
  }
}

.about__text.about__text--lg{
  font-size: rem(40);
  color: $green;
  line-height: 1;
  font-weight: $regular;
  margin-bottom: rem(15.7);
  @include mq("md"){
    font-size: rem(80);
    color: $white;
    line-height: 1.25;
    margin-right: rem(40);
  }
}

.about__text.about__text--sm{
  font-size: rem(16);
  color: $black;
  line-height: 1.5;
  font-weight: $regular;
  font-family: $third-font-family;
  margin-bottom: rem(16);
  @include mq("md"){
    width: rem(400);
    color: $white;
    line-height: 1.549;
    margin-bottom: rem(35);
  }
}

.about__btn{
  display: flex;
  justify-content: center;
}

.about__img2{
  @include mq("md"){
    width: rem(194);
    aspect-ratio:194 / 181 ;
    position: absolute;
    right: rem(83);
    bottom: rem(-90);
  }
}