@use "global" as *;

.blog{
  padding-top: rem(75);
  @include mq("md"){
    padding-top: rem(90);
    position: relative;
    background-image: url(/assets/images/blog1.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:100% rem(500);
  }
}

.blog__img{
  @include mq("md"){
    width: rem(437);
    aspect-ratio: 437 / 201;
    position: absolute;
    top: rem(24);
    left: rem(100);
  }
}

.blog__inner{
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  @include mq("md"){
    max-width:rem(1440) ;
  }
  }



.blog__btn{
  display: flex;
  justify-content:center;
  @include mq("md"){
    margin-right:rem(5);
  }
}
