@use "global" as *;

.footer{
  height: 100%;
  background-color: $green;
  margin-top: rem(103);
  padding-top: rem(48);
  @include mq("md"){
    margin-top: rem(159);
    padding-top: rem(80);
  }
}

.footer__head{
  @include mq("md"){
    display: flex;
  }
}

.footer__img{
  width: rem(120);
  height:rem(45) ;
  margin-bottom:rem(16) ;
  @include mq("md"){
    width: rem(200);
    height:rem(75) ;
    margin: 0 rem(43) rem(24) 0;
  }
}

.footer__icon{
  display: flex;
  @include mq("md"){
    margin-top: rem(39);
  }
}

.footer__facebook{
  width:rem(21) ;
  margin-right: rem(21);
  @include mq("md"){
    width: rem(26);
    margin-right: rem(22);
  }
}

.footer__insta{
  width:rem(21) ;
  @include mq("md"){
    width: rem(26);
  }
}
.footer__insta img{
  width: 100%;
}

.footer__menu{
  color: $white;
  margin-top: rem(44);
  @include mq("md"){
    margin-top: 0;
  }
}

.footer__inner{
  @include mq("md"){
    margin-bottom: rem(40);
    padding-top: rem(1);
  }
}

.footer__container{
    display: flex;
}

.footer__wrapper{
  @include mq("md"){
    display: flex;
  }
}

.footer__wrapper:first-child{
  margin-right: rem(15);
  @include mq("md"){
    margin-right: rem(117);
  }
}

@include mq("md"){
  .footer__items{
    margin-right: rem(115);
  }
}

.footer__items:last-of-type{
  @include mq("md"){
    margin-right: rem(0);
  }
}


.footer__item{
  margin-bottom: rem(42);
}

.footer__term{
  display: flex;
  font-size: rem(16);
  line-height: 1;
  font-weight: $bold;
  font-family: "Noto Sans JP";
}

.footer__img2{
  width: rem(18);
  margin: rem(-1) rem(5) 0 0;
}


.footer__description{
  font-size: rem(16);
  line-height: 1;
  font-family: "Noto Sans JP";
  font-weight: $regular;
  margin: rem(26) 0 0 rem(25);
}

.footer__description:nth-of-type(1){
  margin-top: rem(25);
}

.footer__link{
  transition: all 0.3s;
}
.footer__link:hover{
  opacity: 0.5;
}

.footer__copyright{
  font-size: rem(12);
  line-height: 1;
  color: $white;
  margin: 0 rem(14);
  padding-bottom: rem(59);
  @include mq("md"){
    padding-bottom: rem(82);
    font-size: rem(14);
    text-align: center;
  }
}