@use "global" as *;

.information{
  margin-top:rem(83) ;
  padding: rem(76) 0 rem(83);
  background-color: $green2;
  @include mq("md"){
    margin-top: rem(141);
    padding: rem(89) 0 rem(52);
  }
}

.information__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md"){
    flex-direction: initial;
    align-items: center;
}
}

.information__img{
  width: rem(345);
  height:rem(227) ;
  margin: rem(27) 0 rem(27);
  @include mq("md"){
    width: rem(540);
    height: rem(356);
    margin: rem(40) rem(48) rem(48) 0;
  }
}

.information__box{
  max-width:rem(492) ;
  @include mq("md"){
    margin-top: rem(-13);
  }
}

.information__text.information__text--lg{
  font-size: rem(20);
  font-weight: $bold;
  line-height: 1;
  font-family: "Noto Sans JP";
  color: $black;
  padding-bottom: rem(4);
  margin-bottom: rem(8);
  border-bottom: rem(1) solid $green;
  @include mq("md"){
    font-size: rem(24);
    padding-bottom: rem(8);
    margin-bottom: rem(7);
  }
}

.information__text.information__text--sm{
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  font-family: "Noto Sans JP";
  color: $black;
  margin-bottom: rem(40);
}

.information__btn{
  margin:0 0 0 rem(70);
  @include mq("md"){
    margin: 0  0 0 rem(143);
  } 
}