@use "global" as *;

.voice{
  padding-bottom: rem(78);
  @include mq("md"){
    padding-bottom: rem(141);
    position: relative;
  }
}

.voice__img1{
  @include mq("md"){
    width: rem(301);
    aspect-ratio: 310 / 138;
    position: absolute;
    top: rem(24);
    left: rem(100);
  }
}

.voice__inner{
  position: relative;
  max-width: rem(600);
  width: 100%;
  @include mq("md"){
    max-width: rem(1080);
  }
}

.voice__cards{
  display: flex;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(41);
  @include mq("md"){
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: rem(27);
  }
}

.voice__btn{
  margin-top: rem(41);
  display: flex;
  justify-content: center;
  @include mq("md"){
    margin-top: rem(80);
    margin-right: rem(3.5);
  }
}

.voice__img2{
  @include mq("md"){
    width: rem(71);
    aspect-ratio: 71 / 162;
    position: absolute;
    bottom: rem(-69);
    right: rem(25);
  }
}