@use "global" as *;

.blog-cards{
  margin: rem(27) 0 rem(38) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
  @include mq("md"){
  margin: rem(76) 0 rem(80);
  flex-direction: initial;
  row-gap: 0;
  column-gap: rem(40);
  }
}

.blog-card__item{
  width: 100%;
  max-width: rem(333);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  background-color: $white;
}

.blog-card__header{
  width: 100%;
  margin-bottom:rem(27);
}

.blog-card__figure{
  width: 100%;
  padding: rem(16) rem(16) 0 ;
}

.blog-card__img img{
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.blog-card__body{
  padding: rem(0) rem(16) rem(24);
}

.blog-card__date{
  color: $black;
  font-size: rem(12);
  line-height: 1;
  font-weight: $regular;
  margin-bottom:rem(7);
}

.blog-card__title{
  color: $black;
  font-size: rem(16);
  line-height: 1;
  font-family: "Noto Sans JP";
  padding-bottom: rem(3);
  border-bottom: rem(1) solid $green;
  margin-bottom: rem(20);
  @include mq("md"){
    padding-bottom: rem(7);
    margin-bottom: rem(16);
  }
}

.blog-card__copy{
  color: $black;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $regular;
  font-family: "Noto Sans JP";
}