@use "global" as *;

.campaign-cards{
  margin-top: rem(25.5);
  @include mq("md"){
    margin-top: rem(40);
  }
}

.campaign-cards.campaign-cards--grid{
  display: grid;
  row-gap: rem(40);
  grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
  padding: 0 rem(35);
  @include mq("md"){
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}
