@use "global" as *;

.campaign-card{
  width: rem(280);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: auto;
}


.campaign-card__img img{
  aspect-ratio: 280 / 188;
  width: 100%;
  object-fit: cover;
  @include mq("md"){
    aspect-ratio: 333 / 233;
  }
}

.campaign-card__contents{
  padding: rem(20) rem(16) rem(24);
  display: flex;
  flex-direction: column;
  @include mq("md"){
    padding: rem(24) rem(16) rem(40);
  }
}

.campaign-card__head{
  flex-grow: 1;
}

.campaign-card__label{
  color: $green;
  font-size: rem(12);
  line-height: 1.83333;
  padding: rem(5) rem(11.5) rem(1);
  border: rem(1) solid $green;
  display: inline-block;
  @include mq("md"){
    padding: rem(5) rem(15);
  }
}

.campaign-card__title{
  margin-top: rem(3);
  font-size: rem(16);
}

.campaign-card__body{
  position: relative;
  margin-top: rem(5);
  // padding-top: rem(3);
}

.campaign-card__body::before{
  position: absolute;
  content: "";
  background-color: $green;
  border-radius: rem(5);
  width: 100%;
  height: rem(1);
  top: 0;
  left: 0;
}

.campaign-card__info{
  text-align: center;
  margin-top: rem(10);
  font-size: rem(14);
  line-height: 1.7143;
  @include mq("md"){
    margin-top: rem(16);
    font-size: rem(16);
    line-height: 1.5;
  }
}

.campaign-card__price{
  margin-top: rem(9);
  padding-left: rem(7);
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: rem(16);
  // font-family: serif;
  font-weight: normal;
  line-height: 1;
  @include mq("md"){
    margin-top: rem(7);
    gap: rem(24);
  }
}

.campaign-card__price--lg{
  font-size: rem(20);
  letter-spacing: -0.06em;
  position: relative;
  margin-left: rem(-3);
  padding-right: rem(2);
  @include mq("md"){
    font-size: rem(24);
  }
}

.campaign-card__price--lg::after{
  position: absolute;
  content: "";
  background-color: $red;
  width: 100%;
  height: rem(3);
  top: 38%;
  left: 50%;
  transform: translate(-50%, -51%);
  @include mq("md"){
    top: 50%;
  }
}

.campaign-card__price--sm{
  font-size: rem(32);
  color: $green;
  letter-spacing: -0.05em;
  @include mq("md"){
    font-size: rem(40);
  }
}














