@use "global" as *;
.campaign-content{
  position: relative;
}

.campaign-content__tab-content{
  display: none;
}
.campaign-content__tab-content.is-active{
  display: block;
}

.campaign-content__pagination{
  margin: rem(80) auto 0;
  max-width: rem(444);
}

.campaign-content__img{
  width: rem(135);
  aspect-ratio: 310 / 138;
  position: absolute;
  top: rem(-27);
  left: calc(50% - min(47vw, 38.78rem));
  @include mq("md"){
    width: rem(301);
    aspect-ratio: 310 / 138;
    top: rem(-70);
    }

}