@use "global" as *;
.info-content-tab{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(21) rem(16);
  @include mq("md"){
    grid-template-columns: repeat(4, rem(162));
  }
}

.info-content-tab__item:before{
  content: "";
  display: inline-block;
  height: 4rem;
  margin-right: 0.5rem;
  mask-image: url(/dist/assets/images/info-tab1.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    width: 4rem;
}

.info-content-tab.active::before {
  background-color: #fff;
}

.info-content-tab__item{
  background-color: $white;
  font-family: $third-font-family;
  font-weight: $normal;
  color: $green;
  border:1px solid $green;
  font-size: rem(14);
  text-align: center;
  padding: rem(6) rem(20);
  text-transform:uppercase;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.info-content-tab__item.active{
  color: $white;
  background-color: $green;
}