@use "global" as *;

.l-campaign{
  margin-top:rem(39) ;
  padding-bottom: rem(5);
  @include mq("md"){
    margin-top: rem(110);
  }
}
.l-about{
  margin-top: rem(73);
  @include mq("md"){
    margin-top: rem(129);

  }
}
.l-information{
  margin-top: rem(84);
  padding: rem(76) 0 rem(83);
  @include mq("md"){
    margin-top: rem(140);
    padding: rem(89) 0 rem(100);
  }

}
.l-blog{
  padding-top: rem(75);
  @include mq("md"){
    padding-top: rem(90);
  }

}
.l-voice{
  margin-top: rem(81);
  @include mq("md"){
    margin-top: rem(134);
  }
}
.l-price{
  padding: rem(77) 0 rem(84);
  margin-top: rem(84);
  @include mq("md"){
    padding: rem(91) 0 rem(103);
    margin-top: rem(144);
  }

}
.l-contact{
  margin-top: rem(80);
  @include mq("md"){
    margin-top: rem(141);
  }
}
.l-footer{
  margin-top: rem(104);
  padding-top: rem(49);
  @include mq("md"){
    margin-top: rem(104);
    padding-top: rem(80);
  }
}