@use "global" as *;
.tab{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(162), 1fr));
  gap: rem(21) rem(16);
}

.tab__item{
  background-color: $white;
  font-family: $third-font-family;
  font-weight: $normal;
  color: $green;
  border:1px solid $green;
  font-size: rem(14);
  text-align: center;
  padding: rem(6) rem(20);
  text-transform:uppercase;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.tab__item.active{
  color: $white;
  background-color: $green;
}